body {
    background-color: #D6E1F0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text {
    background-color: whitesmoke;
    max-width: 200px;
    max-height: 400px;
    margin: 70px auto;
    padding: 10px 10px 20px 10px;
    border-radius: 25px;
}

img {
    border-radius: 10px;
}

h1  {
    font-weight: 1rem;
}

.tiny {
    color: grey;
}
